<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Document</title>
</head>
<body>

    <header>
        <h1>Pokedex</h1>
    </header>
    
    <main>

        <section id="cards">

            <% pokedex.forEach((pokemon) => { %>
                <div class="card">
                    <img src="<%= pokemon.imagem %>" alt="">
                    <h2><%= pokemon.nome %></h2>
                    <p class="descricao"><%= pokemon.descricao %></p>
                    <p>Tipo: <%= pokemon.tipo %></p>
                </div>
            <% }) %>
        
        </section>

        <section id="cadastro">

            <h2>Cadastre um novo Pokemon!</h2>

            <form action="/add" method="post">

                <label for="nome">
                    Nome:
                </label>
                <input type="text" id="nome" name="nome">

                <label for="descricao">
                    Descrição:
                </label>
                <input type="text" id="descricao" name="descricao">

                <label for="tipo">
                    Tipo:
                </label>
                <input type="text" id="tipo" name="tipo">

                <label for="imagem">
                    Link da imagem:
                </label>
                <input type="text" id="imagem" name="imagem">

                <button id="btnCadastrar" type="submit">Cadastrar</button>

            </form>

        </section>

    </main>

</body>
</html>