@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

header {
    padding: 3rem;
    background-color: red;
}

header h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

main {
    margin: 0 10rem ;
}

section#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

section#cards div.card {
    width: 20rem;
    box-shadow: 5px 5px 5px #00000020;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    transition: all .8s ease-in-out;
    z-index: 999;
}

section#cards div.card:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 10px #000020;
}

section#cards div.card img {
    width: 100%;
}

section#cards div.card h2 {
    margin-bottom: 1rem;
}

section#cards div.card p.descricao {
    margin-bottom: 1rem;
}

section#cadastro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem;
}

section#cadastro h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
}

section#cadastro form {
    width: 50%;
}

section#cadastro form input {
    width: 100%;
    padding: .6rem;
    font-size: 1rem;
    margin: 1rem;
    outline: none;
    border: solid 2px gray;
    border-radius: 10px;
}

section#cadastro form label {
    color: gray;
}

section#cadastro form button {
    padding: .5rem;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #fff;
    border: solid 5px red;
    color: red;
    cursor: pointer;
    transition: all .3s ease-in-out ;
}

section#cadastro form button:hover {
    background-color: red;
    color: #fff;
    border: solid 5px #fff;
}